<div style="
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 9999;
    /* background-color: rgba(255, 255, 255, 0.8); */
    padding: 10px;
    /* border: 1px solid #000; */
    font-size: small;
    padding-top: 80px;
    padding-bottom:80px;
">
    <a href="https://beian.miit.gov.cn/" target="_blank" style="color: #5b5b5b; text-decoration: none;"
        onmouseover="this.style.color='#1a6bf1'" onmouseout="this.style.color=' #5b5b5b'">
        ——浙ICP备2023052563号——
    </a>    
</div>